.footer {
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

.footer-logo {
  width: 224px;
  height: 46px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
}

.social-link {
  display: block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-links-column,
.footer-links-row {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 16px;
}

.footer-links-row {
  flex-direction: row;
}

.footer-links-row .footer-link {
  margin-right: 17px;
}

.footer-list-item {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 15px;
}